/* * {
    margin: 0;
} */

.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#582618;
    color: white;
    height: 35px;
    justify-items: center;
    align-items: center;
}

.navbar-container > div > a,
.navbar-container > div > div
{
    color: white;
    font-family: "Papyrus", fantasy;
}

.navbar-name {
    display: grid;
    height: 25px;
    background-color:#582618;
    color: white;
    font-family: "Papyrus", fantasy;
    justify-items: center;
    align-items: center;
}

.navbar-logout {
    text-decoration-line: underline;
    cursor: pointer;
}

/* .pure-button {
    background-color: gold;
} */