.token {
    height: 85px;
    width: 85px;
    margin: 5px;
}

.box-grid {
    background-color: lightpink;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    width: 500px;
    height: 500px;
}

.light-box {
    background-color: brown;
    width: 100px;
    height: 100px;
}

.dark-box {
    background-color: black;
    border-radius: 10%;
    width: 90px;
    height: 90px;
    /* position: relative;
    top: 20px; */
}