@import '../index.css';
/* overall layout of GameDisplay*/

.button-new-session-for-board {
    width: 350px;
    /* box-shadow:
    0 0 0 3px #B36638,
    0 0 0 5px #481E0F;
    color: #EDDDBD;
    background-color: #8e4a22;
    margin: 10px; */
}

.game-display-border {
    margin: 20px;
    background-color: white;
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 7px #EDDDBD,
        0 0 0 8px #481E0F;
    padding: 10px;
}

.game-display-container {
    display: grid;
    grid-template-areas:
    "board board tiles"
    "board board info"
    "board board info"
    "board board info"
    "board board info";
}

.game-display-board {
    grid-area: board;
    /* margin: 20px;
    background-color: white;
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 7px #EDDDBD,
        0 0 0 8px #481E0F;
    padding: 10px; */
}

.game-display-board > h3 > span {
    font-size: 20px;
    margin: 0px 20px;
}

.game-display-info {
    grid-area: info;
    /* margin: 20px;
    background-color: white;
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 7px #EDDDBD,
        0 0 0 8px #481E0F;
    padding: 10px; */
}

/* .game-display-rules {
    margin: 20px;
} */

.game-display-tiles {
    grid-area: tiles;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 20px;
    background-color: white;
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 7px #EDDDBD,
        0 0 0 8px #481E0F;
    padding: 10px; */
}

/* 5x5 board display */

.board_container {
    width: 525px;
    height: 525px;
}

.board_container__grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    width: 500px;
    height: 500px;
}

.board_container--border {
    background: linear-gradient(rgb(98, 1, 1), rgb(59, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1x3 tiles display */

.tiles_container {
    width: 325px;
    height: 125px;
}

.tiles_container__grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
    width: 300px;
    height: 100px;
}

.tiles_container--border {
    background: linear-gradient(rgb(98, 1, 1), rgb(59, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* selected tile display */
.selected-tile {
    position: relative;
    top: 10px;
}

/* spaces used in both board display and tiles display */

.game_space__edge {
    background-color: #49462E;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_space__interior {
    background-color: black;
    box-sizing: border-box;
    border-radius: 10%;
    width: 93px;
    height: 93px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tiles */

.token {
    height: 85px;
    width: 85px;
    margin: 5px;
}

.token-legal-move {
    opacity: 50%;
}