/* overall layout of GameDisplay*/
.game-display-container {
    display: grid;
    grid-template-areas:
    "board board tiles"
    "board board info"
    "board board info"
    "board board info"
    "board board info";
}

.game-display-board {
    grid-area: board;
    margin: 20px;
}

.game-display-board > h3 > span {
    font-size: 20px;
    margin: 0px 20px;
}

.game-display-info {
    grid-area: info;
    margin: 20px;
}

/* .game-display-rules {
    margin: 20px;
} */

.game-display-tiles {
    grid-area: tiles;
    margin: 20px;
}

/* 5x5 board display */

.board_container {
    width: 525px;
    height: 525px;
}

.board_container__grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    width: 500px;
    height: 500px;
}

.board_container--border {
    background: linear-gradient(rgb(98, 1, 1), rgb(59, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1x3 tiles display */

.tiles_container {
    width: 325px;
    height: 125px;
}

.tiles_container__grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
    width: 300px;
    height: 100px;
}

.tiles_container--border {
    background: linear-gradient(rgb(98, 1, 1), rgb(59, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spaces used in both board display and tiles display */

.game_space__edge {
    background-color: #49462E;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_space__interior {
    background-color: black;
    box-sizing: border-box;
    border-radius: 10%;
    width: 93px;
    height: 93px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tiles */

.token {
    height: 85px;
    width: 85px;
    margin: 5px;
}