@import '../index.css';
@import '../../fonts/font-stylesheet.css';

.form-title {
    font-family: "Gondola SD", "Alex Brush", fantasy;
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 75px 1fr;
    height: 97vh;
    /* background-color: tan; */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('../../images/backgrounds/chocolate-candy-clipart-cropped.png');
    background-repeat: repeat;
    background-position: center;
    /* background-size: 100% 25%; */
}


.login-element-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-line {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.form-label {
    font-family: "Trebuchet MS", sans-serif;
}

.form-container {
    /* font-family: fantasy; */
    padding: 30px;
    margin: 20px 0px;
    width: 350px;
    height: 280px;
    background-color: white;
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 10px #EDDDBD,
        0 0 0 11px #481E0F;
}

.button-login-form,
.button-signup-form {
    width: 150px;
    /* box-shadow:
    0 0 0 3px #B36638,
    0 0 0 5px #481E0F;
    color: #EDDDBD;
    background-color: #8e4a22;
    margin: 10px; */

}

/* .pure-button {
    background-color: tan;
} */

.error-display {
    color: red;
}

.or-container {
    font-family: "Gondola SD", fantasy;
    padding: 10px 10px 10px 10px;
    background-color: white;
    /* border: 5px solid #481E0F;
    outline: 5px solid tan; */
    box-shadow:
        0 0 0 3px #481E0F,
        0 0 0 10px #EDDDBD,
        0 0 0 11px #481E0F;
    height: 30px;
    align-self: center;
    /* align-items: center;
    justify-items: center; */
}

.or-text {
    position: relative;
    top: 5px;
}