/* body {
    background-color: pink;
} */

.login-container {
    display: grid;
    grid-template-columns: 1fr 75px 1fr;
    /* background-color: tan; */
}


.login-element-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-line {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.form-container {
    margin: 20px 0px;
    width: 350px;
}

.button-login-form {
    width: 150px;
}

.pure-button {
    background-color: tan;
}

.error-display {
    color: red;
}