.tabledisplay_container {
    display: grid;
    /* background-color: gold; */
}

.pure-table {
    margin: 20px;
    /* color: blue; */
}

/* .pure-table-even {
    background-color: rgb(236, 213, 182);
} */

a {
    color: #582618;
}

/* a:visited {
    color: black;
} */